.comment-list{
    width:100%;
    .media{
        display:flex;
        width:100%;
        flex-direction:column;
        // border-bottom:1px solid #ddd;
        margin-bottom:18px;
        border-left:1.4px solid #ddd;
        .content{
           display:flex;
        .media-left{
            width:40px;
            height:40px; overflow: hidden; 
            border-radius:50%;
            background-color:#ddd;
            background-position: center;
            background-size: cover;
        }
        .media-body{
            padding-left:14px;
            font-size:18px;
            justify-content:center;    
        }
       }
        ul{
            padding-left: 15px;
            width: 100%;
            background: #f1f1f1;
            border-left:0;
            display: block;
        }
    }
}