<button mat-raised-button color="primary" (click)="addCourse()">Add new Course</button>
<section class="courses" style="display: inline-flex; width:100%;">
    <!-- {{coursesList | json}} -->
    <mat-card class="course_list" style="width:45%; margin:0 15px 30px 0;" *ngFor="let courses of coursesList; let i = index">
        
        <mat-card-header>
            <h1 style="font-size:30px; min-height:90px;" mat-card-title>{{courses?.data?.course_name | titlecase}}</h1>
        </mat-card-header>
        <mat-card-content>
            <h1>Course ID : {{courses?.data?.course_id | uppercase}}</h1>
            <h2>Price :{{courses?.data?.course_price | currency}} USD</h2>
            <p>Duration :{{courses?.data?.duration}} months</p>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary" [routerLink]="['course/', courses.id]" appFullWidth>Start Free Trial &nbsp;&nbsp;<mat-icon>camera</mat-icon> </button>
        </mat-card-footer>
    </mat-card>
</section>