// $primary : map-get($theme, primary);
// @import '../../../node_modules/@angular/material/theming';
.example-container {
    width: 100%;
    height: 88vh;
    // background-color:map-get($theme, $primary); 
  }
  
  .example-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px; min-width:300px;
  }

  .container-fluid {
    width: 100%;
    padding: 0 15px;
}